
html, body {
    height: 100%;
    margin: 0px;
}

div#viewport {
    width: 100%;
    height: 100%;
    position: relative;
}

div#edit {
    width: 100%;
    height: 100%;
    background-color: grey;
    font-family: monospace;
    font-size: 14pt;
    position: relative;
}

@keyframes fadeIn {
    from { opacity: 0 }
}

div#caret {
    position: absolute;
    z-index: 100;
    font-family: monospace;
    font-size: 14pt;
    animation: fadeIn 0.5s infinite alternate;
    color: yellow;
}

span.selected {
    background-color: yellow;
}
